localhost ansible_connection=local ansible_python_interpreter=python
{% for host in groups['all'] %}
{% if hostvars[host].get('ansible_connection', '') == 'local' %}
{{ host }} ansible_connection=local ansible_python_interpreter=python
{%- else %}

{{ host }} ansible_host={{ hostvars[host]['ansible_host'] }} ansible_user={{ hostvars[host]['ansible_user'] }}
{%- if hostvars[host]['ansible_ssh_private_key_file'] is defined %} ansible_ssh_private_key_file={{ hostvars[host]['ansible_ssh_private_key_file'] }}
{%- else %} ansible_ssh_pass={{ hostvars[host]['ansible_ssh_pass'] }}
{%- endif %}

{%- if hostvars[host]['ansible_ssh_common_args'] is defined %} ansible_ssh_common_args='{{ hostvars[host]['ansible_ssh_common_args'] }}'
{%- endif %}

{%- if hostvars[host]['ansible_distribution'] | default('') in ('CentOS', 'RedHat', 'Red Hat Enterprise Linux') and hostvars[host]['ansible_distribution_major_version'] | default('0') >= '8' %} ansible_python_interpreter='/usr/libexec/platform-python'
{%- elif hostvars[host]['ansible_python_interpreter'] is defined %} ansible_python_interpreter='{{ hostvars[host]['ansible_python_interpreter'] }}'
{%- endif %}

{% endif %}
{% endfor %}

{% for group in groups %}
{% if group not in ['ungrouped', 'all'] %}

[{{ group }}]
{% for host in groups[group] %}
{{ host }}
{% endfor %}
{% endif %}
{% endfor %}

{# Add an empty 'overcloud_nodes' group in case it does not exists #}
{# It's required as part of the infrared deployment flow #}
{% if 'overcloud_nodes' not in groups %}
[overcloud_nodes]
{% endif %}

[local]
localhost
