---

- name: Prepare the environment
  hosts: undercloud
  gather_facts: False
  vars:
    user: false
    net_port: false
    image: false
    keypair: false
    security_group: false
  roles:
    - post_install/openstack_tasks

- name: Tempest deployment and execution
  hosts: tester
  gather_facts: False
  roles:
    - tester/tempest
