---
- name: Converge
  hosts: undercloud
  gather_facts: false
  roles:
    - role: roles/tester/tempest
      containerized: true
      external_net_id: false
      image_for_tempest: false
      generate_accounts: true
      tests_regex: '^nfv_tempest_plugin(.*basic)'
