[defaults]
forks = 50

# SSH timeout
timeout = 30
host_key_checking = False

inventory = ./inventory
roles_path = ./roles

scp_if_ssh = True
force_color = 1

retry_files_enabled = False

[paramiko_connection]
record_host_keys = False

[ssh_connection]
pipelining = True
ssh_args = ''
#control_path = %(directory)s/%%h-%%r
retries = 3

[persistent_connection]
command_timeout = 3600
connect_timeout = 3600
