[defaults]
forks = 50

# SSH timeout
timeout = 30
host_key_checking = False

hostfile = ./inventory
roles_path = ./roles

scp_if_ssh = True
force_color = 1

[paramiko_connection]
record_host_keys = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
control_path = %(directory)s/%%h-%%r
