[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yarboa
[access "refs/for/refs/*"]
	read = group user/Yarboa
	push = group user/Yarboa
	label-Code-Review = -2..+2 group user/Yarboa
	label-Verified = -1..+1 group user/Yarboa
	rebase = group user/Yarboa
	removeReviewer = group user/Yarboa
	submit = group user/Yarboa
[access "refs/heads/*"]
	read = group user/Yarboa
	create = group user/Yarboa
	push = +force group user/Yarboa
	pushMerge = group user/Yarboa
[access "refs/tags/*"]
	push = +force group user/Yarboa
	pushTag = group user/Yarboa
	pushSignedTag = group user/Yarboa
