[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group NFV-QE
	owner = group user/Maxim Babushkin (MaxBab)
	owner = group user/Yarboa (Yarboa)
	owner = group user/Ziv Greenberg (zivgreenberg)
	owner = group user/rhosqeauto (rhosqeauto)
[access "refs/for/refs/*"]
	read = group NFV-QE
	read = group Registered Users
	read = group user/Yarboa (Yarboa)
	push = group NFV-QE
	push = group user/Yarboa (Yarboa)
	label-Code-Review = -2..+2 group NFV-QE
	label-Code-Review = -2..+2 group NFV-committers
	label-Code-Review = -2..+2 group user/Yarboa (Yarboa)
	label-Verified = -1..+1 group NFV-QE
	label-Verified = -1..+1 group NFV-committers
	label-Verified = -1..+1 group Registered Users
	label-Verified = -1..+1 group user/Yarboa (Yarboa)
	label-Verified = -1..+1 group user/rhosqeauto (rhosqeauto)
	rebase = group NFV-QE
	rebase = group NFV-committers
	rebase = group user/Yarboa (Yarboa)
	removeReviewer = group NFV-QE
	removeReviewer = group NFV-committers
	removeReviewer = group user/Yarboa (Yarboa)
	submit = group NFV-QE
	submit = group user/Yarboa (Yarboa)
[access "refs/heads/*"]
	read = group NFV-QE
	read = group NFV-committers
	read = group Registered Users
	read = group user/Yarboa (Yarboa)
	create = group NFV-QE
	create = group user/Yarboa (Yarboa)
	push = group NFV-QE
	push = +force group user/Yarboa (Yarboa)
	pushMerge = group NFV-QE
	pushMerge = group user/Yarboa (Yarboa)
[access "refs/tags/*"]
	push = group NFV-QE
	push = +force group user/Yarboa (Yarboa)
	createTag = group NFV-QE
	createTag = group user/Yarboa (Yarboa)
	createSignedTag = group NFV-QE
	createSignedTag = group user/Yarboa (Yarboa)
