[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group NFV-QE
	owner = group user/Yarboa
	owner = group user/edannon (edannon)
[access "refs/for/refs/*"]
	read = group NFV-QE
	read = group user/Yarboa
	push = group NFV-QE
	push = group user/Yarboa
	label-Code-Review = -2..+2 group NFV-QE
	label-Code-Review = -2..+2 group user/Yarboa
	label-Verified = -1..+1 group NFV-QE
	label-Verified = -1..+1 group user/Yarboa
	rebase = group NFV-QE
	rebase = group user/Yarboa
	removeReviewer = group NFV-QE
	removeReviewer = group user/Yarboa
	submit = group NFV-QE
	submit = group user/Yarboa
[access "refs/heads/*"]
	read = group NFV-QE
	read = group user/Yarboa
	create = group NFV-QE
	create = group user/Yarboa
	push = group NFV-QE
	push = +force group user/Yarboa
	pushMerge = group NFV-QE
	pushMerge = group user/Yarboa
[access "refs/tags/*"]
	push = group NFV-QE
	push = +force group user/Yarboa
	pushTag = group NFV-QE
	pushTag = group user/Yarboa
	pushSignedTag = group NFV-QE
	pushSignedTag = group user/Yarboa
