ansible>=2.7.13,<2.8.0 ; python_version < '3'
ansible>=2.9.0,<2.10.0 ; python_version >= '3'
jmespath>=0.10.0
Jinja2>=2.8.0 # avoid exception due to use of 'equalto', like openstack_servers
selinux==0.1.6
ncclient>=0.5.3
netaddr>=0.8.0
git+https://github.com/vkhitrin/virt-customize-ansible-modules
git+https://github.com/containers/ansible-podman-collections
