#!/bin/bash

THT_PATH="/home/stack/{{ templates_dir }}"

if [[ ! -f "$THT_PATH/roles_data.yaml" ]]; then
  openstack overcloud roles generate -o $THT_PATH/roles_data.yaml {% for role in deploy_config -%}
  {{ role.role_name }} {% endfor %}

fi

time openstack overcloud deploy \
--templates \
-r $THT_PATH/roles_data.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/network-environment.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/network-isolation.yaml \
-e /usr/share/openstack-tripleo-heat-templates/environments/host-config-and-reboot.yaml \
-e $THT_PATH/docker-images.yaml \
{% if api_policies %}
-e $THT_PATH/api-policies.yaml \
{% endif %}
{% if iface_mapping %}
-e $THT_PATH/os-net-config-mappings.yaml \
{% endif %}
{% if sriov %}
-e /usr/share/openstack-tripleo-heat-templates/environments/services/neutron-sriov.yaml \
-e $THT_PATH/functions/sriov_config.yaml \
{% endif %}
{% if dpdk %}
-e /usr/share/openstack-tripleo-heat-templates/environments/neutron-ovs-dpdk.yaml \
-e $THT_PATH/functions/dpdk_config.yaml \
{% endif %}
-e $THT_PATH/nodes_data.yaml \
-e $THT_PATH/network_environment_config.yaml \
-n $THT_PATH/network_data.yaml \
--log-file overcloud_install.log &> overcloud_install.log
