#! /usr/bin/python
x = 'print "%x" % ('
count = 0
pmds = [{{ list_pmds }}]
for i in pmds:
    count+=1
    if ((len(pmds) ) == (count)):
        x = x + ' (1 << %s) )' % i
    else:
        x = x + ' (1 << %s) |' % i
exec x
