---

- shell: "cat {{ keystone }} | grep AUTH | cut -d '=' -f 2"
  register: osp_auth

- shell: "cat {{ keystone }} | grep USERNAME | cut -d '=' -f 2"
  register: osp_username

- shell: "cat {{ keystone }} | grep TENANT | cut -d '=' -f 2"
  register: osp_tenant

- shell: "cat {{ keystone }} | grep OS_PASSWORD | cut -d '=' -f 2"
  register: osp_password

- name: Install packages and dependency
  yum: 
    name: "{{ item.name }}"
    state: "{{ item.state }}"
  with_items:
    - { name: 'git', state: 'installed' }
    - { name: 'wget', state: 'installed' }
    - { name: 'python-devel', state: 'installed' }
#    - { name: 'sshpass', state: 'installed' }
    - { name: 'gcc', state: 'installed' }
    - { name: 'libffi-devel', state: 'installed' }
    - { name: 'libxml2-devel', state: 'installed' }
    - { name: 'libxslt-devel', state: 'installed' }
    - { name: 'mariadb-devel', state: 'installed' }
    - { name: 'openssl-devel', state: 'installed' }
#    - { name: 'python-pip', state: 'installed' }
    - { name: 'python-virtualenv', state: 'installed' }
    - { name: '@Development tools', state: 'installed' }

- name: Git clone Tempest & Tempest-NFV-plugin
  git: 
    repo: "{{ item.url }}"
    dest: "{{ item.dest }}"
    clone: yes 
    update: yes
  with_items:
    - { url: '{{ tempest_url }}', dest: "{{ tempest_dir }}tempest" }
    - { url: '{{ plugin_url }}', dest: "{{ tempest_dir }}tempest-nfv-plugin" }

- name: Run install_venv.py script
  command: 'python {{ tempest_dir }}/tempest/tools/install_venv.py'
  args:
    chdir: '{{ tempest_dir }}/tempest'

- name: Install Tempest_plugin in our Virtual env
  pip:
    name: '{{ tempest_dir }}/tempest-nfv-plugin/tempest_plugin/'
    virtualenv: '{{ tempest_dir }}/tempest/.venv'
    extra_args: -e

- name: Copy requirments file
  copy:
    src: files/pip_ansible_openstack_packages.txt
    dest: '{{ tempest_dir }}' 

- name: Install requirments for ansible
  pip:
    name: '{{ tempest_dir }}pip_ansible_openstack_packages.txt'
    virtualenv: '{{ tempest_dir }}tempest/.venv'
    extra_args: -r

- name: External network config
  include: create_external_network.yml
