---
- name: Converge
  hosts: "{{ osp_tasks_host | default('undercloud') }}"
  gather_facts: false
  tasks:
    - name: Include Play Variables
      include_vars:
        dir: vars

    - name: Execute openstack_tasks Role
      vars:
        resource_state: present
      import_role:
        name: roles/post_install/openstack_tasks
