---
driver:
  name: delegated
lint: |
  set -e
  yamllint -c ../../../.yamllint .
platforms:
  - name: hypervisor
provisioner:
  name: ansible
  env:
    ANSIBLE_LIBRARY: ../../../../../library
    ANSIBLE_ROLES_PATH: ../../../../../
    ANSIBLE_COLLECTIONS_PATHS: ${ANSIBLE_COLLECTIONS_PATH}
  inventory:
    links:
      hosts: ${MOLECULE_INVENTORY_PATH:-inventory}
verifier:
  name: ansible
scenario:
  test_sequence:
    - lint
    - syntax
    - prepare
    - destroy
    - converge
    - verify
    - destroy
    - cleanup
