---
driver:
  name: docker
lint: |
  set -e
  yamllint -c ../../.yamllint .
  ansible-lint -c ../../.ansible-lint
platforms:
  - name: instance
    groups:
      - undercloud
      - overcloud_nodes
    image: "geerlingguy/docker-${MOLECULE_DISTRO:-centos8}-ansible:latest"
    pre_build_image: true
    command: ${MOLECULE_DOCKER_COMMAND:-""}
provisioner:
  name: ansible
verifier:
  name: ansible
