- name: Check for /etc/rhosp-release file
  stat:
    path: '{{ osp_version_file }}'
  register: rhosp_release_file

- name: Read the /etc/rhosp-release file
  slurp:
    src: '{{ osp_version_file }}'
  register: rhosp_release_content
  when: rhosp_release_file.stat.exists

- name: Set the Overcloud version from /etc/rhosp-release output
  set_fact:
    overcloud_version: "{{ rhosp_release_content.content | b64decode | regex_replace('^Red Hat OpenStack Platform release ([0-9]+)\\.\\d+\\s.*$', '\\1') | int }}"
  when: rhosp_release_file.stat.exists
