---
# Note! - The task splitted into two different tasks because
#         in case one of the flavors provided without extra specs,
#         it will be ignored and not created.
- name: "Flavors {{ resource_state }}"
  vars:
    ansible_python_interpreter: "{{ venv_path }}/bin/python"
  os_nova_flavor:
    cloud: "{{ item.cloud_name | default(cloud_name) }}"
    name: "{{ item.name }}"
    ram: "{{ item.ram }}"
    disk: "{{ item.disk }}"
    vcpus: "{{ item.vcpus }}"
    extra_specs: "{{ item.extra_specs | default({}) }}"
    validate_certs: "{{ validate_certs | default(omit) }}"
    state: "{{ resource_state }}"
  loop: "{{ flavors }}"
  register: reg_flavors
