---

- name: Download images
  get_url:
    url: "{{ item.url }}"
    dest: "/tmp/{{ item.url | basename }}"
    timeout: 100
  when: item.local is not defined or not item.local
  loop: "{{ images }}"

- name: Upload images
  vars:
    ansible_python_interpreter: "{{ venv_path }}/bin/python"
  os_image:
    cloud: "{{ item.cloud_name | default(cloud_name) }}"
    name: "{{ item.name }}"
    container_format: bare
    disk_format: qcow2
    state: present
    filename: "/tmp/{{ item.url | basename }}"
    is_public: yes
  loop: "{{ images }}"
