---

- name: Setup Openstack environment
  tags: setup_os_env
  include_tasks: setup_openstack_env.yml
  when: setup_os_env

- name: Instances
  tags: instance
  include_tasks: instances.yml
  when: instance and resource_state == 'absent'

- name: Projects, users and roles
  tags: user
  include_tasks: users.yml
  when: user

- name: Security groups creation
  tags: security_group
  include_tasks: security_groups.yml
  when: security_group and resource_state == 'present'

- name: Networks
  tags: network
  include_tasks: networks_and_routers.yml
  when: network

- name: Flavors
  tags: flavor
  include_tasks: flavors.yml
  when: flavor

- name: Images
  tags: image
  include_tasks: images.yml
  when: image

- name: Keypair
  tags: keypair
  include_tasks: keypair.yml
  when: keypair

- name: Security groups delete
  tags: security_group
  include_tasks: security_groups.yml
  when: security_group and resource_state == 'absent'

- name: Instances
  tags: instance
  include_tasks: instances.yml
  when: instance and resource_state == 'present'

- name: Overcloud delete
  tags: overcloud_delete
  include_tasks: overcloud_delete.yml
  when: overcloud_delete
