---

# NOTE: In Ocata version, the following task fails before finishing
#       the delete process of the stack.
#       As a workaroung, 'ignore_errors' flag and 'pause' task added.
# TODO: Once fixed, remove this.
- name: Delete Overcloud stack
  vars:
    ansible_python_interpreter: "/tmp/ansible_venv/bin/python"
    client_ca_cert: None
  os_stack:
    cloud: "undercloud"
    name: "{{ overcloud_name | default('overcloud') }}"
    state: absent 
    wait: yes
    cacert: "{{ client_ca_cert }}" 
  ignore_errors: true

- name: Pause the play, wait until stack deleted completely
  pause:
    minutes: 3
