---

- name: Discover Undercloud OSP version
  include_role:
    name: discover_osp_version
    tasks_from: undercloud
  when: undercloud_version is not defined

# NOTE: In Ocata version, the following task fails before finishing
#       the delete process of the stack.
#       As a workaroung, 'ignore_errors' flag and 'pause' task added.
# TODO: Once fixed, remove this.
- name: Delete Overcloud stack OSP < 17
  vars:
    ansible_python_interpreter: "{{ venv_path }}/bin/python"
  openstack.cloud.stack:
    cloud: "{{ cloud_name }}"
    name: "{{ overcloud_name | default('overcloud') }}"
    state: absent
    wait: yes
    cacert: "{{ client_ca_cert | default(omit) }}"
  register: stack_absent
  until: stack_absent is success
  retries: 2
  delay: 10
  when: undercloud_version | int < 17

- name: Delete existing stack OSP >= 17
  vars:
    stack_name: "{{ overcloud_name | default('overcloud') }}"
  shell: |
    set -e -o pipefail
    source ~/stackrc
    baremetal_deployment_yaml="$(find ~ -name baremetal_deployment.yaml -printf "%T@ %p\n" | sort -n | cut -d' ' -f2 | tail -n1)"
    openstack overcloud delete -y --baremetal-deployment "${baremetal_deployment_yaml}" --network-ports overcloud
    rm -f ~/templates/*-deployed.yaml
  args:
    executable: /bin/bash
  when: undercloud_version | int >= 17

- name: Wait for all baremetal nodes to be abailable OSP >= 17
  shell: |
    set -e -o pipefail
    source ~/stackrc
    openstack baremetal node list -fvalue -c 'Provisioning State'
  register: baremetal_node_states
  retries: 60
  delay: 10
  until: baremetal_node_states['stdout_lines']|select('equalto', 'available')|list|length == baremetal_node_states['stdout_lines']|length
  when: undercloud_version | int >= 17

- name: Delete symlink to the template base folder
  vars:
    ansible_python_interpreter: "{{ venv_path }}/bin/python"
  file:
    path: '/home/stack/__oc_templates_folder'
    state: absent

- name: Delete swift Containers OSP < 17
  openstack.cloud.object_container:
    cloud: undercloud
    container: "{{ item }}"
    state: absent
    delete_with_all_objects: true
  loop:
    - overcloud
    - overcloud-config
    - overcloud-messages
    - overcloud-swift-rings
  when: undercloud_version | int < 17

- name: Purge /var/lib/mistral OSP < 17
  become: true
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /var/lib/mistral/overcloud
    - /var/lib/mistral/config-download-latest
  when: undercloud_version | int < 17
