---

- name: Check the existance of rc file
  stat:
    path: "{{ item }}"
  with_items:
    - "{{ tripleo_rc_file }}"
    - "{{ packstack_rc_file }}"
  register: rc_file_locate

- name: Set TripleO rc file to use
  set_fact:
    rc_file: "{{ tripleo_rc_file }}"
  when: rc_file_locate.results[0].stat.exists == True

- name: Set Packstack rc file to use
  set_fact:
    rc_file: "{{ packstack_rc_file }}"
  when: rc_file_locate.results[1].stat.exists == True

- name: Register Auth URL
  shell: "cat {{ rc_file }} | grep AUTH_URL | cut -d '=' -f 2"
  register: osp_auth

- name: Register Username
  shell: "cat {{ rc_file }} | grep USERNAME | cut -d '=' -f 2"
  register: osp_username

- name: Register Password
  shell: "cat {{ rc_file }} | grep OS_PASSWORD | cut -d '=' -f 2"
  register: osp_password

- name: Register Tenant name (For version <= 10/Newton)
  shell: "cat {{ rc_file }} | grep TENANT | cut -d '=' -f 2"
  register: osp_tenant

- name: Register Project name (For version >= 11/Ocata)
  shell: "cat {{ rc_file }} | grep PROJECT | cut -d '=' -f 2"
  register: osp_project

- name: Creating Openstack env folder
  file:
    path: /etc/openstack
    state: directory
    mode: 0755

- name: Install packages and dependency
  tags: setup_os_env_pkg_install
  become: True
  yum:
    name: "{{ item.name }}"
    state: 'installed'
  with_items:
    - { name: 'git' }
    - { name: 'wget' }
    - { name: 'python-devel' }
    - { name: 'gcc' }
    - { name: 'libffi-devel' }
    - { name: 'libxml2-devel' }
    - { name: 'libxslt-devel' }
    - { name: 'mariadb-devel' }
    - { name: 'openssl-devel' }
    - { name: 'python-virtualenv' }
    - { name: '@Development tools' }

- name: Create virutal env
  tags: setup_os_env_pkg_install
  pip:
    virtualenv: "/tmp/ansible_venv"
    name: "{{ item.name }}"
    extra_args: '--upgrade'
  with_items:
    - { name: 'pip' }
    - { name: 'setuptools' }
    - { name: 'ansible' }
    - { name: 'pytz' }
    - { name: 'shade' }
    - { name: 'functools32' }

- name: Create the clouds.yml file for future tasks
  template:
    src: "clouds.yml.j2"
    dest: "/etc/openstack/clouds.yml"
    mode: 0755
