---
- name: Gather facts
  setup:

# Delete the venv in order to avoid packages conflicts
- name: Delete existing venv if exists
  file:
    path: "{{ venv_path }}"
    state: absent
  become: true

- name: Install required packages
  vars:
    os_version: "{%- if ansible_distribution_major_version == '9' -%}
                 rhel9
                 {%- elif ansible_distribution_major_version == '8' -%}
                 rhel8
                 {%- elif ansible_distribution_major_version == '7' -%}
                 rhel7
                 {%- endif -%}"
    pkg_ver_list: "{{ packages[os_version] }}"
  package:
    name: "{{ item }}"
    state: present
  loop: "{{ pkg_ver_list | flatten(levels=1) }}"
  become: true

- name: Check if python3 pip rpm package installed
  package:
    name: python3-pip
    state: present
  become: true
  register: rpm_pip3
  ignore_errors: yes

- name: Install virtualenv module
  shell: /usr/bin/python3 -m venv "{{ venv_path }}" && source "{{ venv_path }}/bin/activate" && pip install -U pip setuptools

- name: Install create virtualenv and openstacksdk packages
  pip:
    name: openstacksdk<=0.52
    virtualenv: "{{ venv_path }}"
    virtualenv_command: "/usr/bin/python3 -m virtualenv"

- name: Discover Undercloud OSP version
  include_role:
    name: discover_osp_version
    tasks_from: undercloud

- name: Generate clouds.yaml file
  import_tasks: clouds.yml
  when: undercloud_version | int < 17 or force_clouds_generation
