---

# In order to prevent deletion of the OSP admin user and breaking
# the environment by mistake, skip any manipulation with the "admin" user.
- name: Copy overcloudrc file for users
  copy:
    src: "{{ stackrc_file }}"
    dest: "{{ stackrc_file | dirname }}/{{ item.name }}_rc"
    remote_src: yes
    mode: preserve
  loop: "{{ users | flatten(levels=1) }}"
  when: item.name != 'admin'

- name: Replace rc file values to user values
  vars:
    keys:
      - os_key: 'OS_USERNAME'
        users_key: 'name'
      - os_key: 'OS_PASSWORD'
        users_key: 'pass'
      - os_key: 'OS_PROJECT_NAME'
        users_key: 'project'
      - os_key: 'OS_USER_DOMAIN_NAME'
        users_key: 'domain'
      - os_key: 'OS_CLOUDNAME'
        users_key: 'name'
  replace:
    path: "{{ stackrc_file | dirname }}/{{ item.1.name }}_rc"
    regexp: (.*{{ item.0.os_key }})=.*
    replace: \1={{ item.1[item.0.users_key] }}
    mode: '0600'
  loop: "{{ keys | product(users) | list }}"
  when: item.1.name != 'admin'

- name: Append New Entries To Clouds Dictionary
  set_fact:
    clouds_dict: "{{ clouds_dict | combine({item['name']: stackrc_file | dirname +'/'+ item['name'] + '_rc'}) }}"
  loop: "{{ users }}"
  when:
    - item.name != 'admin'
    - undercloud_version | int < 17
