              - type: {{ nic.type }}
                name: {{ nic.name }}
                use_dhcp: false
                {% if 'api' in nic %}
                addresses:
                {% for api in nic.api %}
                  - ip_netmask:
                      get_param: {{ api }}IpSubnet
                {% endfor %}
                {% endif %}
                {% if 'nic' in nic or 'bonding_nics' in nic %}
                members:
                  - type: {% if 'nic' in nic %}ovs_dpdk_port{% elif 'bonding_nics' in nic %}ovs_dpdk_bond{% endif %}

                    name: {% if 'nic' in nic %}{{ nic.name | replace('br-', '') }}_port{% elif 'bonding_nics' in nic %}{{ nic.name }}_bond{% endif %}

                    {% if 'mtu' in nic or NeutronGlobalPhysnetMtu %}
                    mtu: {{ nic.mtu | default(NeutronGlobalPhysnetMtu) }}
                    {% endif %}
                    {% if 'rxq' in nic %}
                    rx_queue: {{ nic.rxq }}
                    {% endif %}
                    members:
                    {% if 'nic' in nic %}
                    {% if 'vfid' in nic %}
                    {# Nic-partitioning deployment topology #}
                      - type: sriov_vf
                        device: {{ nic.nic }}
                        vfid: {{ nic.vfid }}
                    {% else %}
                    {# Standard deployment topology #}
                      - type: interface
                        name: {{ nic.nic }}
                    {% endif %}
                    {% elif 'bonding_nics' in nic %}
                    {% for iface in nic.bonding_nics %}
                      - type: ovs_dpdk_port
                        name: {{ nic.name | replace('br-', '') }}_port{{ loop.index }}
                        members:
                        {% if 'vfid' in iface %}
                        {# Nic-partitioning deployment topology #}
                          - type: sriov_vf
                            device: {{ iface.nic }}
                            vfid: {{ iface.vfid }}
                        {% else %}
                        {# Standard deployment topology #}
                          - type: interface
                            name: {{ iface.nic }}
                        {% endif %}
                          {% if 'api' in nic %}
                          {% for api in nic.api %}
                            vlan_id:
                              get_param: {{ api }}NetworkVlanID
                          {% endfor %}
                          {% endif %}
                    {% endfor %}
                  {% endif %}
                {% endif %}
