              - type: {{ nic.type }}
                name: {{ nic.nic }}
                {% if 'mtu' in nic or NeutronGlobalPhysnetMtu %}
                mtu: {{ nic.mtu | default(NeutronGlobalPhysnetMtu) }}
                {% endif %}
                numvfs: {{ nic.numvfs }}
                use_dhcp: false
                {% if not nic.route %}
                defroute: false
                {% endif %}
                nm_controlled: true
                hotplug: true
                promisc: false

