# Triggers
undercloud_conf: true
instackenv: true
nodes: true
dpdk: true
sriov: true
iface_mapping: true
api_policies: true  # Used by qe testing

# Custom path to tht templates.
# If not defined, current playbook path will be used.
#tht_path:
tht_dir_name: tht_templates

# The version of the tht templates based on the osp version
# Supported versions: 13, 16.1
osp_version: 16.1

undercloud_config:
  interface: eth0
  cidr: 192.168.24.0/24

instackenv_nodes:
  - name: compute-0
    mac: "00:00:00:00:00:00"
    pm_user: root
    pm_pass: calvin
    pm_addr: "10.10.10.10"
    root_device: "0x55cd2e414e372c40"  # optional
  - name: compute-1
    mac: "00:00:00:00:00:00"
    pm_user: root
    pm_pass: calvin
    pm_addr: "10.10.10.11"

network_api:
  - name: internal_api
    vlan: 10
    ip_subnet: 10.0.10.0/24
  - name: tenant
    vlan: 11
    ip_subnet: 10.0.11.0/24
  - name: storage
    vlan: 12
    ip_subnet: 10.0.12.0/24
  - name: storage_mgmt
    vlan: 13
    ip_subnet: 10.0.13.0/24
  - name: external
    vlan: 14
    ip_subnet: 10.0.14.0/24
    gateway_ip: 10.0.14.1              # optional
    allocation_pool_start: 10.0.14.12  # optional
    allocation_pool_end: 10.0.14.22    # optional

# Network config
NeutronBridgeMappings:
  - 'access:br-access'
  - 'dpdk-mgmt:br-link0'
  - 'dpdk-data0:br-dpdk0'
  - 'dpdk-data1:br-dpdk1'
  - 'sriov-1:br-sriov1'
  - 'sriov-2:br-sriov2'
NeutronNetworkVLANRanges:
  - 'access:423:423'
  - 'dpdk-mgmt:134:139'
  - 'dpdk-data0:134:139'
  - 'dpdk-data1:134:139'
  - 'sriov-1:134:139'
  - 'sriov-2:134:139'
  - 'sriov-3:134:139'
NeutronNetworkType: vxlan
NeutronTunnelTypes: vxlan
NtpServer: clock.redhat.com
NeutronPhysnetNUMANodesMapping: "dpdk-data1: [1]"  # optional
NeutronGlobalPhysnetMtu: 9000                  # optional
NeutronOVSFirewallDriver: openvswitch          # optional
NeutronMechanismDrivers: "'openvswitch','sriovnicswitch'"
NeutronPluginExtensions: port_security,router,qos,segments,trunk,placement
NeutronServicePlugins: router,trunk,qos
NeutronSriovAgentExtensions: qos
DnsServers:
  - 10.46.0.31
  - 10.46.0.32

deploy_config:
  # The name of the role is case sensitive
  - role_name: Controller
    count: 3
    flavor: controller  # The name of the flavor, by default, should be based on the name of the node from instackenv file.
  - role_name: ComputeOvsDpdkSriov
    count: 2
    flavor: compute
    common_opts:  # all the suboptions are optional
      KernelArgs: "default_hugepagesz=1GB hugepagesz=1G hugepages=64 iommu=pt intel_iommu=on isolcpus=2-19,22-39"
    dpdk_opts:  # all the suboptions are optional
      IsolCpusList: "2-19,22-39"
      # The "NovaComputeCpuDedicatedSet" param used in osp 16 and above. In osp 13, the "NovaVcpuPinSet" is used.
      # Use the "NovaComputeCpuDedicatedSet" parameter for all the versions in order to prevent confusion.
      # Proper parameter per version will be placed.
      NovaComputeCpuDedicatedSet: "4,6-19,24,26-39"
      NovaReservedHostMemory: 2048
      OvsDpdkSocketMemory: "4096,1024"
      OvsDpdkMemoryChannels: 4
      OvsDpdkCoreList: "0,20,1,21"
      NovaComputeCpuSharedSet: "0,20,1,21"
      OvsPmdCoreList: "2,3"
    sriov_opts:  # all the suboptions are optional
      sriov_mapping:
      # Those params are used to build two sriov params:
      # NovaPCIPassthrough and NeutronPhysicalDevMappings
        - devname: "p7p3"
          physical_network: "sriov-1"
          trusted: "true"
        - devname: "p7p4"
          physical_network: "sriov-2"
          trusted: "true"
        - devname: "p6p1"
          physical_network: "sriov-3"
          trusted: "true"
        - devname: "p6p2"
          physical_network: "sriov-4"
          trusted: "true"

node_config:
    # The name of the role is case sensitive
  - role_name: Controller
    nic_configs:
      - type: interface
        nic: nic1
        route: provision
      - type: linux_bond
        name: bond_api
        bonding_nics:
          - nic2
        # The name of the api is case sensitive
        # The vlan based api will be attached.
        api:
          - InternalApi
          - Storage
          - StorageMgmt
      - type: ovs_bridge
        name: br-link0
        nic: nic3
        # The mtu on the bridge will override the NeutronGlobalPhysnetMtu
        mtu: 9000
        api:
          - Tenant
      - type: ovs_bridge
        name: br-dpdk0
        nic: nic4
      - type: ovs_bridge
        name: br-dpdk1
        nic: nic5
      - type: ovs_bridge
        name: br-sriov1
        nic: nic6
      - type: ovs_bridge
        name: br-sriov2
        nic: nic7
      - type: interface
        nic: nic8
        route: false
      - type: interface
        nic: nic9
        route: false
      - type: ovs_bridge
        name: br-access
        nic: nic10
        api:
          - External
        route: External
        defroute: true
  - role_name: ComputeOvsDpdkSriov
    dmi_string: system-product-name  # optional
    id: "PowerEdge R730"             # optional
    nics:                            # os-net-config-mappings
      - nic: 1
        name: em1
      - nic: 2
        name: em2
      - nic: 3
        name: p4p1
      - nic: 4
        name: p4p2
      - nic: 5
        name: p4p3
      - nic: 6
        name: p4p4
      - nic: 7
        name: p7p1
      - nic: 8
        name: p7p2
      - nic: 9
        name: p7p3
      - nic: 10
        name: p7p4
      - nic: 11
        name: p6p1
      - nic: 12
        name: p6p2
    nic_configs:
      - type: interface
        nic: nic1
        route: false
      - type: interface
        nic: nic2
        route: provision
        defroute: true
      - type: linux_bond
        name: bond_api
        bonding_nics:
          - nic3
          - nic4
        # The name of the api is case sensitive
        api:
          - InternalApi
          - Storage
      - type: ovs_user_bridge
        name: br-dpdk0
        nic: nic5
        mtu: 9000
        rxq: 1
      - type: ovs_user_bridge
        name: br-dpdk1
        nic: nic6
        mtu: 9000
        rxq: 1
      - type: ovs_user_bridge
        name: br-link0
        mtu: 9000
        rxq: 1
        bonding_nics:
          - nic7
          - nic8
        api:
          - Tenant
      - type: sriov_pf
        nic: nic9
        mtu: 9000
        numvfs: 10
        route: false
      - type: sriov_pf
        nic: nic10
        mtu: 9000
        numvfs: 10
        route: false
      - type: sriov_pf
        nic: nic11
        mtu: 9000
        numvfs: 10
        route: false
      - type: sriov_pf
        nic: nic12
        mtu: 9000
        numvfs: 10
        route: false
