# TODO (vkhitrin): Refactor tasks to fetch MACs in single play
- name: Parse DuT MACs
  set_fact:
    dut_macs: "{{ hostvars[groups[dut_group][0]]['dut_macs'] }}"
  when:
    - hostvars[groups[dut_group][0]]['dut_macs'] is defined
    - dut_macs is not defined

- name: Parse TRex VLANs
  set_fact:
    trex_vlans: "{{ trex_instance_nics_info|map(attribute='vlan')|list|join(',') }}"
  when:
    - trex_instance_nics_info is defined
    - trex_vlans is not defined
    - trex_set_vlan

- name: Start PMD load balance in DuT
  delegate_to: "{{ dut_compute }}"
  become: True
  block:
    - include_role:
        name: pmd_load_balance
        tasks_from: start.yml
  when:
    - pmd_lb is defined
    - pmd_lb in ['ovs', 'user']

- name: Set Binary Search Command
  set_fact:
    traffic_cmd: >
      {{ binary_search_bin }} --traffic-generator trex-txrx
      --frame-size {{ trex_frame_size }}
      --max-loss-pct {{ trex_max_lost_pct }}
      --send-teaching-warmup
      --dst-macs {{ dut_macs }}
      --num-flows {{ trex_flows }}
      {% if trex_set_vlan %}
        --vlan-ids {{ trex_vlans }}
      {%- endif %}
      --use-src-ip-flows 1
      --use-dst-ip-flows 1
      --use-src-mac-flows 0
      --use-dst-mac-flows 0
      --use-src-port-flows 1
      --use-dst-port-flows 1
      --validation-runtime {{ trex_validation }}
      --search-runtime {{ trex_search }}
      {% if dut_type == 'dpdk' or dut_type == 'hwoffload'%}
        --rate {{ trex_rate }}
      {%- endif %}
      {% if binary_search_use_device_stats %}
        --use-device-stats
      {%- endif %}
  when: traffic_cmd is not defined

- name: Load balance PMD before binary search starts (if requested)
  block:
    - name: Set time period for load balance test
      set_fact:
        pmd_lb_pretest_sec: "{{ trex_search }}"
      when:
        - pmd_lb_pretest_sec is not defined or pmd_lb_pretest_sec == 'None'

    - name: Generate traffic for load balancing PMD
      shell: python -u {{ trafficgen_dir }}/trex-txrx.py
          --device-pairs=0:1
          --active-device-pairs=0:1
          --mirrored-log
          {% if dut_type == 'dpdk' or dut_type == 'hwoffload'%}
            --rate {{ trex_rate }}
          {%- endif %}
          --rate-unit=mpps
          --size={{ trex_frame_size }}
          --runtime={{ pmd_lb_pretest_sec }}
          --runtime-tolerance=5
          --run-bidirec=1
          --run-revunidirec=0
          --num-flows={{ trex_flows }}
          --dst-macs={{ dut_macs }}
          {% if trex_set_vlan %}
            --vlan-ids={{ trex_vlans }}
          {%- endif %}
          --use-src-ip-flows=1
          --use-dst-ip-flows=1
          --use-src-mac-flows=0
          --use-dst-mac-flows=0
          --use-src-port-flows=1
          --use-dst-port-flows=1
          --use-protocol-flows=0
          --packet-protocol=UDP
          --stream-mode=continuous
      register: pmd_lb_pretest_output
  when:
    - pmd_lb is defined
    - pmd_lb in ['ovs', 'user']
    - pmd_lb_pretest == True

- debug:
    var: pmd_lb_pretest_output

- name: Pause PMD load balance in DuT
  delegate_to: "{{ dut_compute }}"
  become: True
  block:
    - include_role:
        name: pmd_load_balance
        tasks_from: pause.yml
  when:
    - pmd_lb is defined
    - pmd_lb in ['ovs', 'user']
    - pmd_lb_pretest == True

# TODO: Proper print function
- name: Run Binary Search Script
  shell: "{{ traffic_cmd }}"
  register: perf_output
  until: perf_output.rc == 0
  retries: 3
  delay: 10
  ignore_errors: yes
  failed_when: False
  become: True

- debug:
    var: perf_output

- name: Report PMD load balance status and stop it in DuT
  delegate_to: "{{ dut_compute }}"
  become: True
  block:
    - name: Query PMD load balance status
      include_role:
        name: pmd_load_balance
        tasks_from: status.yml

    - name: Remove any existing status log
      file:
        path: "{{ pmd_lb_status_log }}"
        state: absent

    - name: Save PMD load balance status
      copy:
        content: "{{ pmd_lb_status_output['stdout'] }}"
        dest: "{{ pmd_lb_status_log }}"

    - name: Stop PMD load balance
      include_role:
        name: pmd_load_balance
        tasks_from: stop.yml
  when:
    - pmd_lb is defined
    - pmd_lb in ['ovs', 'user']

- name: Copy PMD load balance status from DuT
  delegate_to: "{{ groups['undercloud'] | first }}"
  copy:
    content: "{{ pmd_lb_status_output['stdout'] }}"
    dest: "{{ pmd_lb_status_log }}"
  when:
    - pmd_lb is defined
    - pmd_lb in ['ovs', 'user']

- name: Save Binary Search Script Result To File
  copy:
    content: "{{ perf_output['stdout'] }}"
    dest: "{{ binary_perf_log }}"
  delegate_to: "{{ groups['undercloud'] | first }}"

- name: Stop TestPMD On DuT
  shell: "tmux list-sessions -F '#S' | xargs -n1 tmux kill-session -t"
  become: True
  delegate_to: "{{ groups[dut_group] | first }}"

- name: Parse JSON Result From Output File
  block:
    - name: Read Performance Result Log
      slurp:
        src: "{{ binary_perf_log }}"
      register: perf_result

    - name: Parse Perfomance Log To JSON Format
      set_fact:
        perf_json: "{{ perf_result['content'] | b64decode | replace('RESULT', '') }}"
  delegate_to: "{{ groups['undercloud'] | first }}"

- name: Fetch OVS version from compute node
  shell: "ovs-vsctl --version | grep 'Open vSwitch' | sed 's/ovs-vsctl \\(.*\\) //'"
  register: compute_ovs_version
  delegate_to: "{{ dut_compute }}"

- name: Check If OVN Is Configured
  command: 'hiera -c /etc/puppet/hiera.yaml enabled_services'
  become: True
  register: deployment_hiera_enabled_services
  delegate_to: "{{ dut_compute }}"

- name: Retrieve OVN Version
  shell: "podman exec -it ovn_controller ovn-sbctl --version | head -n1 | sed 's/.* \\(.*\\)/\\1/g'"
  become: True
  when: "'ovn' in deployment_hiera_enabled_services['stdout']"
  register: ovn_version
  delegate_to: "{{ dut_compute }}"

- name: Fetch puddle/compose from undercloud
  slurp:
    src: /home/stack/core_puddle_version
  register: deployment_core_puddle
  delegate_to: "{{ groups['undercloud'] | first }}"

- name: Append extra info to performance log
  lineinfile:
    path: "{{ binary_perf_log }}"
    line: "{{ item }}"
  loop:
    - "OVS_Version: {{ compute_ovs_version['stdout'] }}"
    - "Puddle: {{ deployment_core_puddle['content'] | b64decode }}"
    - "OVN_Version: {{ ovn_version['stdout'] }}"
  delegate_to: "{{ groups['undercloud'] | first }}"

- name: Print Perfomance Result JSON
  debug:
    var: perf_json

# TODO: Add additional valuable information for both states
- name: Print Performance Result
  debug:
    msg: |
      binary-search command:
      {{ perf_output['cmd'] }}

      {% if perf_output.rc == 0 %}

      Performance Flow Succeded

      {% else %}

      Performance Flow Failed

      {% endif %}
  failed_when: perf_output['rc'] != 0
