- name: Install packages inside guest image
  command: virt-customize -a {{ fetched_image }} --run-command "yum install {{ item }} -y" -v
  loop:
      - git
      - gcc
      - make
      - cmake
      - gcc-c++
      - pciutils
      - glibc-devel
      - glibc-headers
      - numactl-devel
      - vim
      - tmux
      - python3
      - cloud-init

- name: copy cloud.cfg
  copy:
    src: cloud.cfg
    dest: "{{ guest_image_output }}"
    mode: "0440"

- name: copy cloud-init cfg
  command: virt-copy-in -a {{ fetched_image }} "{{ guest_image_output }}/cloud.cfg" /etc/cloud/
