- name: Install packages inside guest image
  command: virt-customize -a {{ fetched_image }} --run-command "yum install {{ item }} -y"
  loop:
    - git
    - gcc
    - make
    - cmake
    - gcc-c++
    - pciutils
    - glibc-devel
    - glibc-headers
    - numactl-devel
    - vim
    - tmux
    - python3
    - cloud-init
    - meson
    - pip3
    - iperf3
    - mstflint
    - tuned-profiles-cpu-partitioning
    - perl
    - net-tools

- name: create custom users
  command: virt-customize -a {{ fetched_image }} --password "{{ item.user}}":"{{ item.password}}"
  loop: "{{ custom_users }}"
