---
- name: Install libguest RPM prerequisites
  vars:
    libguestfs_rpm: "{%- if ansible_python['version']['major'] == 3 -%}
                    python3-libguestfs
                    {%- elif ansible_python['version']['major'] == 2 -%}
                    python-libguestfs
                    {%- endif -%}"
  package:
    name:
      - libguestfs
      - "{{ libguestfs_rpm }}"
    state: present
  become: True

- name: Fetch image
  include_tasks: fetch_image.yml

- name: Prepare repos inside image
  include_tasks: prepare_repos.yml
  when: prepare_repos | default(True) | bool

- name: Customize Guest Image - DPDK Flow
  include_tasks: prepare_dpdk.yml
  when: prepare_dpdk | default(True) | bool

- name: Customize Guest Image - Trex Flow
  include_tasks: prepare_trex.yml
  when: prepare_trex | default(True) | bool

- name: Customize Guest Image - HCI IO's
  include_tasks: prepare_guest_hci.yml
  when: prepare_guest_hci | default(True) | bool

- name: Customize Guest Image - Generic Flow
  include_tasks: generic_customizations.yml

