---
- name: Install libguest RPM prerequisites
  package:
    name:
      - libguestfs
      - python-libguestfs
    state: present
  become: True

- name: Fetch image
  include_tasks: fetch_image.yml

- name: Prepare repos inside image
  include_tasks: prepare_repos.yml
  when: prepare_repos | default(True) | bool

- name: Customize Guest Image - DPDK Flow
  include_tasks: prepare_dpdk.yml
  when: prepare_dpdk | default(True) | bool

- name: Customize Guest Image - Trex Flow
  include_tasks: prepare_trex.yml
  when: prepare_trex | default(True) | bool

- name: Customize Guest Image - Generic Flow
  include_tasks: generic_customizations.yml

- name: Customize Guest Image - HCI IO's
  include_tasks: prepare_guest_hci.yml
  when: prepare_guest_hci | default(True) | bool

- name: Customize Guest Image - iperf
  include_tasks: prepare_iperf.yml
  when: prepare_iperf | default(True)
