- name: Prepare trex binaries inside guest image
  virt_customize_command:
    shell:
      - "curl -k {{ trex_url }}/{{ trex_version }}.tar.gz -o /tmp/{{ trex_version }}.tar.gz"
      - 'mkdir -p {{ trex_dir }}'
      - 'tar zxf /tmp/{{ trex_version }}.tar.gz -C {{ trex_dir }}'
      - 'ln -sf {{ trex_dir }}/{{ trex_version }} {{ trex_dir }}/current'
    image: "{{ fetched_image }}"
    debug: "{{ guest_debug }}"
