- name: Prepare trex binaries inside guest image
  command: virt-customize -a {{ fetched_image }} --run-command "{{ item }}"
  loop:
    - "curl -k {{ trex_url }}/{{ trex_version }}.tar.gz -o /tmp/{{ trex_version }}.tar.gz"
    - "mkdir -p {{ trex_dir }}"
    - "tar zxf /tmp/{{ trex_version }}.tar.gz -C {{ trex_dir }}"
    - "ln -sf {{ trex_dir }}/{{ trex_version }} {{ trex_dir }}/current"
    - "which python; [[ $? == 1 ]] && ln /bin/python3 /bin/python"
