- name: Install packages inside guest image
  command: virt-customize -a {{ fetched_image }} --run-command "yum install {{ item }} -y" -v
  loop: 
      - git
      - gcc
      - make
      - cmake
      - gcc-c++
      - pciutils
      - glibc-devel
      - glibc-headers
      - numactl-devel
      - vim

# Compile fio package
- name: Prepare fio binaries inside guest image
  command: virt-customize -a {{ fetched_image }} --run-command "{{ item }}" -v
  loop: 
      - "if [ ! -d {{ fio_dir }} ];then git clone {{ fio_git }} {{ fio_dir }};cd {{ fio_dir }};git checkout {{ fio_branch }};fi"
      - 'cd {{ fio_dir }}; ./configure;/usr/bin/make;/usr/bin/make install;'
      - "echo 'fio Version: {{ fio_branch }}' | tee {{ fio_customization_log }}"
