---
- name: Gather facts
  setup:

- name: Register variables
  include_tasks: register_variables.yml

- name: Check OSP version
  include_role:
    name: discover_osp_version

- name: Create the tempest directory
  file:
    path: "{{ tempest_dir }}"
    mode: 0755
    state: directory

- name: Git clone tempest and plugin repositories
  git:
    repo: "{{ item.url }}"
    dest: "{{ tempest_dir }}/{{ item.name }}"
    version: "{{ item.version.get(overcloud_version | int, item.version['defaults']).branch }}"
    clone: yes
    update: yes
    force: yes
  loop: "{{ tempest_repos }}"

- name: Set tempest venv path
  set_fact:
    tempest_venv: "{{ tempest_dir }}/venv"

# A pip bug prevents us to use the pip module for the python3 venv creation.
# Remove when fixed.
# Reference: https://github.com/ansible/ansible/issues/52275
- name: Install venv if python3 present
  command: "{{ ansible_python.executable }} -m venv {{ tempest_venv }}"
  when: ansible_python.version.major == 3

- name: Create a virtual environment and upgrade it to the latest version
  pip:
    name:
      - 'pip'
      - 'setuptools'
      - 'stestr'
      - 'python-subunit'
      - 'ipdb'
      - 'junitxml'
    virtualenv: "{{ tempest_venv }}"
    state: latest

- name: Install repos in a virtual environment
  pip:
    virtualenv: "{{ tempest_venv }}"
    name:
      - "{{ tempest_dir }}/{{ neutron_tempest_plugin }}"
      - "{{ tempest_dir }}/{{ nfv_tempest_plugin }}"
      - "{{ tempest_dir }}/{{ tempest_main }}"
      - "{{ tempest_dir }}/{{ tempest_conf }}"
    state: present
    editable: true

- name: Get the external network id
  vars:
    ansible_python_interpreter: "{{ venv_path }}/bin/python"
  os_networks_info:
    cloud: overcloud
    validate_certs: "{{ tls_server_verify | default (omit) }}"
    filters:
      router:external: true
  register: tempest_net_id
  when: external_net_id

- name: Download the test os image
  debugger: on_failed
  get_url:
    url: "{{ images[0].url }}"
    dest: "/tmp/{{ images[0].url | basename }}"
    timeout: 100
    validate_certs: "{{ os_image_cert_validation }}"
  when: image_for_tempest| bool

- name: Check if tempestconf tool installed
  stat:
    path: "{{ tempest_venv }}/bin/discover-tempest-config"
  register: tempest_conf_tool

- name: Define tempestconf tool if exists
  set_fact:
    config_command: "{{ tempest_venv }}/bin/discover-tempest-config"
  when: tempest_conf_tool.stat.exists

- name: Check for the spesific flavor id if it's required
  vars:
    ansible_python_interpreter: "{{ venv_path }}/bin/python"
  os_flavor_info:
    cloud: overcloud
    validate_certs: "{{ tls_server_verify | default (omit) }}"
    name: "{{ tempest_flavor_name }}"
  when: tempest_flavor_name is defined

- name: Copying generic config file to the "{{ tempest_dir }}" directory
  copy:
    src: "{{ tempest_config }}"
    dest: "{{ tempest_dir }}"
    owner: "{{ tempest_user }}"
    group: "{{ tempest_user }}"
    mode: 0755
  when: tempest_config is defined

- name: Copying deployer input file to "{{ tempest_dir }}" directory
  vars:
    remote_source: "{{ (deployer_input_config != 'default') | ternary('no','yes') }}"
    copy_file: "{{ (deployer_input_config != 'default') | ternary(deployer_input_config,
                   [tempest_dir, '/', nfv_tempest_plugin, '/docs/tempest-deployer-input.conf.sample']|join('')
                 ) }}"
  copy:
    remote_src: "{{ remote_source }}"
    src: "{{ copy_file }}"
    dest: "{{ tempest_dir }}"
    owner: "{{ tempest_user }}"
    group: "{{ tempest_user }}"
    mode: 0755
  when: deployer_input_config is defined
  register: copy_output

- name: Copying tests include list file
  copy:
    src: "{{ tests_include_list }}"
    dest: "{{ tempest_dir }}"
    owner: "{{ tempest_user }}"
    group: "{{ tempest_user }}"
    mode: 0644
  when: tests_include_list | default('')

- name: Generate accounts.yaml file
  template:
    src: accounts.yaml.j2
    dest: "{{ accounts_file_path }}"
    mode: '0664'
  when: generate_accounts

- name: Check if extra tempest.conf variables supplied
  block:
    - name: Parse extra tempest.conf variables
      set_fact:
        tempest_options_parser: "{{ tempest_extra_vars.split(',') }}"

    - name: Populate extra variables array
      set_fact:
        tempest_options: "{{ tempest_options | default([]) }} + ['{{ item.replace('=',' ') }}']"
      loop: "{{ tempest_options_parser }}"
  when: tempest_extra_vars is defined

- name: tempest.conf file creation
  debugger: on_failed
  shell: |
    source "{{ rc_file | default('/home/stack/overcloudrc') }}"
    source {{ tempest_venv }}/bin/activate
    {{ config_command | default('python config_tempest/config_tempest.py') }} \
        --create \
        --debug \
        {% if image_for_tempest| bool %}
        --image "/tmp/{{ images[0].url | basename }}" \
        {% endif %}
        {% if external_net_id %}
        --network-id {{ tempest_net_id.openstack_networks.0.id }} \
        {% endif %}
        identity.uri {{ rc_vars.osp_auth }} \
        identity.admin_password {{ rc_vars.osp_password }} \
        identity.region regionOne DEFAULT.debug false \
        compute.min_microversion {{ compute_min_microversion }} \
        compute.max_microversion {{ compute_max_microversion }} \
        placement.min_microversion {{ placement_microversion }} \
        placement.max_microversion {{ placement_microversion }} \
        {% if tempest_flavor_name is defined %}
        compute.flavor_ref {{ reg_flavors.results.0.id }} \
        {% endif %}
        compute.image_ssh_user {{ image_ssh_user }} \
        compute-feature-enabled.live_migration true \
        validation.image_ssh_user {{ image_ssh_user }} \
        {% if tempest_config is defined %}
        nfv_plugin_options.external_config_file {{ tempest_dir }}/{{ tempest_config | basename }} \
        {% endif %}
        {% if overcloud_version | int >= 13 %}
        nfv_plugin_options.use_neutron_api_v2 "true" \
        {% endif %}
        {% if generate_accounts %}
        auth.test_accounts_file {{ accounts_file_path }} \
        auth.use_dynamic_credentials false \
        nfv_plugin_options.external_resources_output_file {{ external_resources_output_file }} \
        {% endif %}
        neutron_plugin_options.default_image_is_advanced true \
        neutron_plugin_options.max_networks_per_project 1 \
        {% if enable_test_all_provider_networks %}
          nfv_plugin_options.test_all_provider_networks true \
        {% endif %}
        {% if tempest_options is defined %}
          {% for option in tempest_options %}
            {{ option }} \
          {% endfor %}
        {% endif %}
        {% if deployer_input_config is defined %}
          --deployer-input {{ tempest_dir }}/{{ copy_output['dest'] | basename }} \
        {% endif %}
        --out "{{ tempest_dir }}/{{ tempest_main }}/etc/tempest.conf"
  args:
    executable: /bin/bash
    chdir: "{{ tempest_dir }}/{{ tempest_conf }}"

- name: Check if the tempest tests repository exists
  tags: run_tempest_test
  stat:
    path: "{{ tempest_dir }}/{{ tempest_main }}/.stestr"
  register: testrepository

- name: Delete the tempest tests repository to drop previous results
  tags: run_tempest_test
  file:
    path: "{{ tempest_dir }}/{{ tempest_main }}/.stestr"
    state: absent
  when: testrepository.stat.exists

- name: Create tempest tests repository for the clean state tests run
  tags: run_tempest_test
  shell: >
    source {{ tempest_dir }}/venv/bin/activate;
    {{ tempest_dir }}/venv/bin/stestr init;
  args:
    executable: /bin/bash
    chdir: "{{ tempest_dir }}/{{ tempest_main }}"

# (TODO): Remove the workaround once OSP10 support is over.
- name: neutron tempest utf-8 issue w\a
  lineinfile:
    path: "{{ tempest_dir }}/neutron-tempest-plugin/neutron_tempest_plugin/scenario/test_qos.py"
    insertbefore: BOF
    line: '# -*- encoding: utf-8 -*-'
  when: overcloud_version | int < 16

- name: Execute the tempest tests and save the results
  tags: run_tempest_test
  shell: >
    source {{ tempest_dir }}/venv/bin/activate;
    stestr run --serial --subunit
    {% if tests_regex %}"{{ tests_regex }}"{% endif %}
    {% if overcloud_version | int >= 16 and tests_include_list %}--include-list {{ tempest_dir }}/{{ tests_include_list | basename }}
    {% elif tests_include_list %}--whitelist-file {{ tempest_dir }}/{{ tests_include_list | basename }}{% endif %}
    >> .stestr/tempest_results.subunit
  args:
    executable: /bin/bash
    chdir: "{{ tempest_dir }}/{{ tempest_main }}"

- name: Ensure '{{ tempest_dir }}/tempest.xml' is absent before logging results
  file:
    path: "{{ tempest_dir }}/tempest.xml"
    state: absent

- name: Generate results report in a JunitXML format
  tags: run_tempest_test
  shell: |
    source {{ tempest_dir }}/venv/bin/activate
    {% if overcloud_version | int >= 15 %}
    subunit2junitxml < .stestr/tempest_results.subunit \
    >> {{ tempest_dir }}/tempest.xml | subunit2pyunit
    {% else %}
    subunit2junitxml --output-to={{ tempest_dir }}/tempest.xml \
    < .stestr/tempest_results.subunit | subunit2pyunit
    {% endif %}
  args:
    executable: /bin/bash
    chdir: "{{ tempest_dir }}/{{ tempest_main }}"

- name: Set the name for the testsuite
  tags: run_tempest_test
  replace:
    path: "{{ tempest_dir }}/tempest.xml"
    regexp: '^(<testsuite.*name=")'
    replace: '\1nfv'
    mode: '0664'

- name: Generate statistics of executed tests
  tags: run_tempest_test
  shell: |
    source {{ tempest_dir }}/venv/bin/activate
    subunit-stats --no-passthrough .stestr/tempest_results.subunit
  args:
    executable: /bin/bash
    chdir: "{{ tempest_dir }}/{{ tempest_main }}"
  register: tests_stats
  failed_when: "tests_stats.rc == 2"

- name: Check existence of tempest log
  tags: run_tempest_test
  stat:
    path: "{{ tempest_dir }}/{{ tempest_main }}/tempest.log"
  register: tempest_log

- name: Copy tempest log file to the main tempest directory
  tags: run_tempest_test
  copy:
    remote_src: yes
    src: "{{ tempest_dir }}/{{ tempest_main }}/tempest.log"
    dest: "{{ tempest_dir }}/tempest.log"
    mode: '0664'
  when: tempest_log.stat.exists

- name: Print the output results of the tempest tests
  tags: run_tempest_test
  vars:
    msg: |
      Tests statistics:

      {{ tests_stats.stdout }}

      For the details, look at the:
      {{ tempest_dir }}/tempest.xml
      {{ tempest_dir }}/tempest.log
  debug:
    msg: "{{ msg.split('\n') }}"
