---

## Tempest variables
tempest_user: stack
tempest_dir: /home/stack/tempest
tempest_main: openstack-tempest
tempest_conf: python-tempestconf
nfv_tempest_plugin: nfv-tempest-plugin
neutron_tempest_plugin: neutron-tempest-plugin

#### Git branches variables
nfv_tempest_branch: 'master'

tempest_repos:
  - name: openstack-tempest
    url: https://github.com/openstack/tempest
    version:
      10:
        branch: '17.2.0'
      13:
        branch: '23.0.0'
      defaults:
        branch: 'master'
  - name: python-tempestconf
    url: https://git.openstack.org/openstack/python-tempestconf
    version:
      10:
        branch: '1.1.3'
      13:
        branch: '2.1.0'
      defaults:
        branch: '2.5.0'
  - name: nfv-tempest-plugin
    url: https://github.com/redhat-openstack/nfv-tempest-plugin
    version:
      10:
        branch: 'v1.29.0'
      13:
        branch: 'v1.29.0'
      defaults:
        branch: "{{ nfv_tempest_branch }}"
  - name: neutron-tempest-plugin
    url: https://github.com/openstack/neutron-tempest-plugin
    version:
      10:
        branch: '0.9.0'
      13:
        branch: '0.9.0'
      defaults:
        branch: 'master'

## The path to the accounts.yaml file
## Used by tempest in pre-provision mode.
accounts_file_path: "{{ tempest_dir }}/accounts.yaml"

rc_file: /home/stack/overcloudrc
rc_params:
  - name: osp_auth
    value: OS_AUTH_URL
  - name: osp_username
    value: OS_USERNAME
  - name: osp_password
    value: OS_PASSWORD
  - name: osp_project_name
    value: OS_PROJECT_NAME
  - name: osp_domain_name
    value: OS_USER_DOMAIN_NAME

# Query the OSP env for the external network
external_net_id: true
# Download image for tempest
image_for_tempest: true

# Virtual environment path
# Recommended to be equal to venv_path from post_install/openstack_tasks role
venv_path: "/tmp/ansible_venv"
