VSPERF {
startRate = {{ startRate }},
nrFlows = 256,
{% if vlan_max_range is not defined or vlan_max_range == "" %}
vlanIds = { {{ vlan_id }} },
{% else %}
vlanIds = { {{ vlan_id }},{{ vlan_max_range }} },
{% endif %}
testType = "throughput",
runBidirec = {{ runBidirec }},
searchRunTime = {{ searchRunTime }},
validationRunTime = {{ validationRunTime }},
acceptableLossPct = {{ acceptableLossPct }},
frameSize = 64,
{% if srcMac is not defined or srcMac == "" %}
--srcMacs = ,
{% else %}
srcMacs = {{ srcMac }},
{% endif %}
{% if dstMac is not defined or dstMac == "" %}
--dstMacs = ,
{% else %}
dstMacs = {{ dstMac }},
{% endif %}
ports = {{ ports }},
}
