---

- name: Add Hypervisor to inventory
  add_host:
    name: "hypervisor"
    groups: "{{ hypervisor_groups }}"
    ansible_host: "{{ host }}"
    ansible_user: "{{ user | default('root') }}"
    ansible_ssh_private_key_file: "{{ ssh_key | default(omit) }}"
    ansible_ssh_pass: "{{ ssh_pass | default(omit) }}"

- block:
    - name: Locate the virtual Undercloud node
      virt:
        command: list_vms
      register: vms

    - name: Fetch private key from the undercloud host
      fetch:
        src: "/root/.ssh/id_rsa"
        dest: "{{ tripleo_undercloud_key }}"
        flat: yes
  delegate_to: "{{ groups['hypervisor'][0] }}"

  # Number of installers are setting different Undercloud name.
  # InfraRed set it as - undercloud-0
  # Tripleo-quickstart set it as - undercloud
  # The following task will look for one of the undercloud name options
- name: Define Undercloud vm
  set_fact:
    undercloud_vm: "{{ item }}"
  loop:
    - undercloud
    - undercloud-0
  when: 'item in vms.list_vms'

- name: Fail the play if Undercloud is not found
  fail:
    msg: "Undercloud vm is not found"
  when: undercloud_vm is not defined

- name: Find the Undercloud vm ip address
  shell: virsh domifaddr "{{ undercloud_vm }}" | awk '/ipv4/ {print $4}' | cut -d "/" -f1 | head -1
  register: undercloud_ip
  delegate_to: "{{ groups['hypervisor'][0] }}"

- name: Add Undercloud to inventory
  add_host:
    name: "{{ undercloud_vm }}"
    groups: "{{ undercloud_groups }}"
    ansible_host: "{{ undercloud_ip.stdout }}"
    ansible_user: "{{ custom_undercloud_user | default('stack') }}"
    ansible_ssh_private_key_file: "{{ tripleo_undercloud_key }}"
    ansible_ssh_common_args: "-o ForwardAgent=yes -o ServerAliveInterval=30 -o ControlMaster=auto -o ControlPersist=30 \
                              -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -o BatchMode=yes \
                              -o ProxyCommand=\"ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
                              -W %h:%p -i {{ tripleo_undercloud_key }} \
                              {{ hostvars[groups['hypervisor'][0]].ansible_user }}@{{ hostvars[groups['hypervisor'][0]].ansible_host }}\""
