---

- name: Set environment variable
  set_fact:
    environment_dir: "{{ lookup('env', 'PWD') }}/environments/{{ host }}_env"

- name: Set SSH key variables
  set_fact:
    tripleo_undercloud_key: "{{ environment_dir }}/id_rsa_{{ host }}"
    overcloud_private_key: "{{ environment_dir }}/id_rsa_overcloud_{{ host }}"
    hypervisor_private_key: "{{ environment_dir }}/id_rsa_hypervisor_{{ host }}"

- name: Unlink old inventory file
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ lookup('env', 'PWD') }}/inventory"
    - "{{ lookup('env', 'PWD') }}/ansible.ssh.config"

  # Flash in-memory inventory in order to recreate
  # the inventory file with the new parameters
- meta: refresh_inventory

- name: Create environment directory
  file:
    path: "{{ environment_dir }}"
    recurse: yes
    state: directory

- name: Add baremetal Undercloud to host list
  add_host:
    name: "undercloud-0"
    groups: "{{ undercloud_groups }}"
    ansible_ssh_host: "{{ host }}"
    ansible_ssh_user: "{{ user | default('stack') }}"
    ansible_ssh_private_key_file: "{{ ssh_key | default(omit) }}"
    ansible_ssh_pass: "{{ ssh_pass | default(omit) }}"
  when: setup_type == 'baremetal'

- name: Locate virt Undercloud and add to host list
  include_tasks: hypervisor.yml
  when: setup_type == 'virt'

- name: Generate Inventory file
  vars:
    ansible_python_interpreter: /usr/bin/python
  template:
    src: 'inventory.j2'
    dest: "{{ environment_dir }}/inventory_{{ host }}"

- name: Generate and set an SSH key if password is used
  include_tasks: undercloud_pass.yml
  when: ssh_pass is defined

- name: Create TripleO inventory
  include_tasks: overcloud_nodes.yml
  delegate_to: "{{ groups['undercloud'] | first }}"

- name: Add hosts to host list
  add_host:
      name: "{{ item.name }}"
      groups: "{{ ( item.name in groups.all ) | ternary(omit,
          ['overcloud_nodes', 'openstack_nodes', item.name.split('-')[0]] | join(',')
         ) }}"
      ansible_ssh_user: "{{ overcloud_user }}"
      ansible_ssh_pass: ""
      ansible_ssh_host: "{{ item.accessIPv4 }}"
      ansible_ssh_private_key_file: "{{ overcloud_private_key }}"
  with_items: "{{ openstack_servers }}"

- name: Enable SSH forwarding using Undercloud node for baremetal Overcloud nodes
  vars:
    ansible_python_interpreter: /usr/bin/python
  add_host:
    name: "{{ item.name }}"
    ansible_ssh_common_args: "-o ProxyCommand=\"ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
                              -W %h:%p -i {{ hostvars[groups['undercloud'][0]].ansible_ssh_private_key_file }} \
                              {{ hostvars[groups['undercloud'][0]].ansible_ssh_user }}@{{ hostvars[groups['undercloud'][0]].ansible_ssh_host }}\""
  with_items: "{{ openstack_servers }}"
  when: setup_type == 'baremetal'

- name: Enable SSH forwarding using Undercloud node for virt Overcloud nodes
  vars:
    ansible_python_interpreter: /usr/bin/python
  add_host:
    name: "{{ item.name }}"
    ansible_ssh_common_args: "-o ProxyCommand=\"ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
                              -F {{ environment_dir }}/ansible.ssh.config.{{ host }} \
                              {{ undercloud_vm }} -W {{ item.addresses.ctlplane.0.addr }}:22\""
  with_items: "{{ openstack_servers }}"
  when: setup_type == 'virt'

- name: Update ansible.ssh.config for SSH tunneling
  vars:
    ansible_python_interpreter: /usr/bin/python
  template:
    src: 'ansible.ssh.config.j2'
    dest: "{{ environment_dir }}/ansible.ssh.config.{{ host }}"

- name: Link the current environment SSH file
  file:
    src: "{{ environment_dir }}/ansible.ssh.config.{{ host }}"
    dest: "{{ lookup('env', 'PWD') }}/ansible.ssh.config"
    state: link

- name: Generate Inventory file
  vars:
    ansible_python_interpreter: /usr/bin/python
  template:
    src: 'inventory.j2'
    dest: "{{ environment_dir }}/inventory_{{ host }}"

- name: Link the current environment inventory file
  file:
    src: "{{ environment_dir }}/inventory_{{ host }}"
    dest: "{{ lookup('env', 'PWD') }}/inventory"
    state: link
