---
- name: Set inventory path
  set_fact:
    inventory_path: "{{ inv_path | default(lookup('env', 'PWD')) }}"

- name: Set environment variable
  set_fact:
    environment_dir: "{{ inventory_path }}/environments/{{ host }}_env"

- name: Set SSH key variables
  set_fact:
    tripleo_undercloud_key: "{{ environment_dir }}/id_rsa_undercloud_{{ host }}"
    overcloud_private_key: "{{ environment_dir }}/id_rsa_overcloud_{{ host }}"
    hypervisor_private_key: "{{ environment_dir }}/id_rsa_hypervisor_{{ host }}"

- name: Unlink old inventory file and remove old environment directory
  file:
    path: "{{ item }}"
    state: absent
  loop:
    - "{{ inventory_path }}/inventory"
    - "{{ inventory_path }}/ansible.ssh.config"
    - "{{ environment_dir }}"

  # Flash in-memory inventory in order to recreate
  # the inventory file with the new parameters
- meta: refresh_inventory

- name: Create environment directory
  file:
    path: "{{ environment_dir }}"
    recurse: yes
    state: directory
    mode: '0775'

- name: Add baremetal Undercloud to host list
  add_host:
    name: "undercloud-0"
    groups: "{{ undercloud_groups }}"
    ansible_host: "{{ host }}"
    ansible_user: "{{ user | default('stack') }}"
    ansible_ssh_private_key_file: "{{ ssh_key | default(omit) }}"
    ansible_ssh_pass: "{{ ssh_pass | default(omit) }}"
  when: setup_type == 'baremetal'

- name: Locate virt Undercloud and add to host list
  include_tasks: hypervisor.yml
  when: setup_type == 'virt'

- name: Generate Inventory file
  template:
    src: 'inventory.j2'
    dest: "{{ environment_dir }}/inventory_{{ host }}"
    mode: '0664'

- name: Generate and set an SSH key if password is used
  include_tasks: "{{ setup_type }}_pass.yml"
  when: ssh_pass is defined

- name: Gather undercloud node details
  vars:
    ansible_python_interpreter: /usr/libexec/platform-python
  setup:
  delegate_to: "{{ groups['undercloud'] | first }}"
  delegate_facts: True

- block:
    - name: Gather overcloud nodes details
      import_tasks: overcloud_nodes.yml
      delegate_to: "{{ groups['undercloud'] | first }}"

    - name: Add hosts to host list
      add_host:
        name: "{{ item.name }}"
        groups: "{{ ( item.name in groups.all ) | ternary(omit,
            ['overcloud_nodes', 'openstack_nodes', item.name.split('-')[0]] | join(',')
           ) }}"
        ansible_user: "{{ overcloud_user }}"
        ansible_ssh_pass: ""
        ansible_host: "{{ item.accessIPv4 }}"
        ansible_ssh_private_key_file: "{{ overcloud_private_key }}"
      loop: "{{ openstack_servers }}"

    - name: Enable SSH forwarding using Undercloud node for baremetal Overcloud nodes
      vars:
        ansible_python_interpreter: /usr/libexec/platform-python
      add_host:
        name: "{{ item.name }}"
        ansible_ssh_common_args: "-o ProxyCommand=\"ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
                                  -W %h:%p -i {{ hostvars[groups['undercloud'][0]].ansible_ssh_private_key_file }} \
                                  {{ hostvars[groups['undercloud'][0]].ansible_user }}@{{ hostvars[groups['undercloud'][0]].ansible_host }}\""
      loop: "{{ openstack_servers }}"
      when: setup_type == 'baremetal'

    - name: Enable SSH forwarding using Undercloud node for virt Overcloud nodes
      vars:
        ansible_python_interpreter: /usr/libexec/platform-python
      add_host:
        name: "{{ item.name }}"
        ansible_ssh_common_args: "-o ProxyCommand=\"ssh -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null \
                                  -F {{ environment_dir }}/ansible.ssh.config.{{ host }} \
                                  {{ undercloud_vm }} -W {{ item.addresses.ctlplane.0.addr }}:22\""
      loop: "{{ openstack_servers }}"
      when: setup_type == 'virt'
  when: not undercloud_only|bool

- name: Update ansible.ssh.config for SSH tunneling
  template:
    src: 'ansible.ssh.config.j2'
    dest: "{{ environment_dir }}/ansible.ssh.config.{{ host }}"
    mode: '0664'

- name: Link the current environment SSH file
  file:
    src: "{{ environment_dir }}/ansible.ssh.config.{{ host }}"
    dest: "{{ inventory_path }}/ansible.ssh.config"
    state: link
    mode: '0664'

- name: Generate Inventory file
  template:
    src: 'inventory.j2'
    dest: "{{ environment_dir }}/inventory_{{ host }}"
    mode: '0664'

- name: Link the current environment inventory file
  file:
    src: "{{ environment_dir }}/inventory_{{ host }}"
    dest: "{{ inventory_path }}/inventory"
    state: link
    mode: '0664'
