# Image Variables
guest_image: 'http://download.eng.tlv.redhat.com/rhel-9/rel-eng/RHEL-9/latest-RHEL-9/compose/BaseOS/x86_64/images/rhel-guest-image-9.1-20221027.3.x86_64.qcow2'
guest_image_output: '/tmp/'
guest_debug: False

# Repo Variables
repo_urls:
  - http://download.eng.tlv.redhat.com/rhel-9/rel-eng/RHEL-9/latest-RHEL-9.1.0/repofile.repo
repo_dir: '/tmp/guest_repos'
guest_repos: []

# DPDK Variables
dpdk_dir: '/root/dpdk'
dpdk_customization_log: "{{ dpdk_dir }}/customization.log"
dpdk_git: 'git://dpdk.org/dpdk'
dpdk_branch: 'tags/v22.11'
dpdk_compile_packages: 
  - pyelftools

# Trex Variables
trex_version: 'v3.02'
trex_url: 'https://trex-tgn.cisco.com/trex/release'
trex_dir: '/opt/trex/'

# Trafficgen Variables
trafficgen_git: 'https://github.com/perftool-incubator/bench-trafficgen'
trafficgen_dir: '/opt/bench-trafficgen'
trafficgen_branch: 'main'

# Customize users Variables
custom_users:
  - user: root
    password: password
  - user: cloud-user
    password: password
# selinux config
selinux_config: disabled

# fio Variables
fio_git: 'git://git.kernel.dk/fio.git'
fio_dir: '/root/fio'
fio_branch: 'fio-3.9'
fio_customization_log: "{{ fio_dir }}/customization.log"

# mellanox drivers
mlx_iso: http://file.mad.redhat.com/~mnietoji/MLNX_OFED_LINUX-5.9-0.5.6.0-rhel9.1-x86_64.iso
