# Image Variables
guest_image: 'https://cloud.centos.org/centos/8/x86_64/images/CentOS-8-GenericCloud-8.4.2105-20210603.0.x86_64.qcow2'
guest_image_output: '/tmp/'
guest_debug: False

# Repo Variables
repo_dir: '/tmp/guest_repos'
guest_repos:
  - name: 'base'
    state: 'present'
    baseurl: 'http://mirror.centos.org/$contentdir/$releasever/BaseOS/$basearch/os/'
    mirrorlist: 'http://mirrorlist.centos.org/?release=$releasever&arch=$basearch&repo=BaseOS&infra=$infra'
# DPDK Variables
dpdk_dir: '/root/dpdk'
dpdk_customization_log: "{{ dpdk_dir }}/customization.log"
dpdk_git: 'git://dpdk.org/dpdk'
dpdk_branch: 'tags/v20.11-rc3'
dpdk_compile_packages: 
  - meson
  - pyelftools
  - ninja

# Trex Variables
trex_version: 'v2.73'
trex_url: 'https://trex-tgn.cisco.com/trex/release'
trex_dir: '/opt/trex/'

# Trafficgen Variables
trafficgen_git: 'https://github.com/perftool-incubator/bench-trafficgen'
trafficgen_dir: '/opt/bench-trafficgen'
trafficgen_branch: 'main'

# Customize users Variables
custom_users:
  - user: root
    password: 123456
  - user: cloud-user
    password: 123456
# selinux config
selinux_config: disabled

# fio Variables
fio_git: 'git://git.kernel.dk/fio.git'
fio_dir: '/root/fio'
fio_branch: 'fio-3.20'
fio_customization_log: "{{ fio_dir }}/customization.log"

