---
## Tempest variables
## Choose tempest version to execute
## Two versions avalable for the execution: upstream and downstream
tempest_ver: upstream

image_ssh_user: centos
osp_image: http://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2

## Please provide the username and the private key to establish connection between undercloud to overcloud nodes
## Used for gathering various data like aggregation groups, etc...
private_key_dest: /home/stack/.ssh/id_rsa
user_for_overcloud_nodes: heat-admin

## Port_vnic_type direct
## Uncomment the following value in order to set the port to 'direct' type
## Used for SR-IOV tests
## Default - normal
#port_vnic_type: direct

## Flavor name that should be used for tempest test
## If not specified, default (first flavor in list) used.
#tempest_flavor_name:

## Various Tempest-NFV tests may require path to the test configuration file.
## Uncomment if exists.
#tests_config_file: <path_to_the_config_file>

tempest_tests:
  - tempest.scenario.test_server_basic_ops.TestServerBasicOps
