---
# Defind the user for the ssh validation and testing.
image_ssh_user: centos

# Provide required image that will be used for the tempest tests.
images:
  - name: centos7
    url: http://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2

# Validate certificates when fetching image
os_image_cert_validation: False

## Please provide the username and the private key to establish connection between undercloud to overcloud nodes
## Used for gathering various data like aggregation groups, etc...
private_key_dest: /home/stack/.ssh/id_rsa
user_for_overcloud_nodes: heat-admin

## Flavor name that should be used for tempest test
## If not specified, default (first flavor in list) used.
#tempest_flavor_name:

## Various Tempest-NFV tests may require path to the test configuration file.
## Uncomment if exists.
#tests_config_file: <path_to_the_config_file>

## When external resource creator is used, the path to the resource file should be defined
external_resources_output_file: /home/stack/resources_output_file.yml

## Trigger to generate accounts.yaml file
## The file is used in the Tempest "Pre-Provisioned Credentials" mode
generate_accounts: false

users:
  - name: test_user1
    pass: 12345678
    project: test_project1
    domain: default
    role: member
  - name: test_user2
    pass: 87654321
    project: test_project2
    domain: default
    role: member

tempest_tests:
  - tempest_nfv_plugin.tests.scenario.test_nfv_epa.TestBasicEpa.test_numa0_provider_network
  - tempest_nfv_plugin.tests.scenario.test_nfv_epa.TestBasicEpa.test_numa1_provider_network
  - tempest_nfv_plugin.tests.scenario.test_nfv_epa.TestBasicEpa.test_numamix_provider_network
  - tempest_nfv_plugin.tests.scenario.test_nfv_epa.TestBasicEpa.test_packages_compute
  - tempest_nfv_plugin.tests.scenario.test_nfv_dpdk_usecases.TestDpdkScenarios.test_min_queues_functionality
  - tempest_nfv_plugin.tests.scenario.test_nfv_dpdk_usecases.TestDpdkScenarios.test_equal_queues_functionality
  - tempest_nfv_plugin.tests.scenario.test_nfv_dpdk_usecases.TestDpdkScenarios.test_max_queues_functionality
  - tempest_nfv_plugin.tests.scenario.test_nfv_dpdk_usecases.TestDpdkScenarios.test_odd_queues_functionality
