---
## Tempest variables
image_ssh_user: centos
osp_image: http://cloud.centos.org/centos/7/images/CentOS-7-x86_64-GenericCloud.qcow2

## Please provide the username and the private key to establish connection between undercloud to overcloud nodes
private_key_dest: /home/stack/.ssh/id_rsa
user_for_overcloud_nodes: heat-admin

## Port_vnic_type direct
## Uncomment the following value in order to set the 'direct' port
#port_vnic_type: direct

tempest_tests:
  - tempest.scenario.test_server_basic_ops.TestServerBasicOps
