---
driver:
  name: delegated
lint: |
  set -e
  yamllint -c ../../../.yamllint .
platforms:
  - name: hypervisor
provisioner:
  name: ansible
  inventory:
    links:
      hosts: ${MOLECULE_INVENTORY_PATH:-inventory}
  env:
    ANSIBLE_ROLES_PATH: ../../../../../roles
verifier:
  name: ansible
scenario:
  converge_sequence:
    - converge
  destroy_sequence:
    - cleanup
  test_sequence:
    - lint
    - cleanup
    - syntax
    - prepare
    - converge
    - verify
    - cleanup
