servers:
{% if floating_ip_var is defined %}
{% for instance in reg_instance.results | zip(floating_ip_var) %}
  - name: {{ instance[0].server.name }}
    groups:
{% for group in instance[0].item.groups %}
      - {{ group }}
{% endfor %}
    id: {{ instance[0].server.id }}
    fip: {{ instance[1] }}
    addresses:
      - addr: {{ instance[0].openstack.private_v4 }}
{% endfor %}
{% else %}
{% for instance in reg_instance.results %}
  - name: {{ instance.server.name }}
    groups:
{% for group in instance.item.groups %}
      - {{ group }}
{% endfor %}
    id: {{ instance.server.id }}
    fip: {{ instance.openstack.private_v4 }}
    addresses:
      - addr: {{ instance.openstack.private_v4 }}
{% endfor %}
{% endif %}

{% for key in keypairs %}
key_pair: "{{ resources_output_file | dirname }}/{{ key.name }}.key"
{% endfor %}
